<div class="container" fxLayout="column" fxLayoutGap="10px">

  <mat-card>
    <mat-card-header>
      <div mat-card-avatar class="header-image">
        <img mat-card-image src="../../../assets/images/user.svg">
      </div>
      <mat-card-title>title</mat-card-title>
      <mat-card-subtitle>name</mat-card-subtitle>
    </mat-card-header>
  </mat-card>

  <mat-card class="content">Content</mat-card>

  <div class="share-story" fxLayout="row" dir="rtl" fxLayoutGap="20px">
    <span class="facebook-icon"></span>
    <span class="twitter-icon"></span>
  </div>

</div>
