<div class="container" fxLayout="column" fxLayoutGap="10px">

  <div class="header-1" fxLayout="row" fxLayoutAlign="space-between center">
    <div class="logo">
      <span>Logo</span>
    </div>
    <div class="title">
      <span>My Covid Story</span>
    </div>
    <div class="edit">
      <a mat-raised-button>
        <mat-icon mat-list-icon>create</mat-icon>
      </a>
    </div>
  </div>

  <div class="header-2" fxLayout="row" fxLayoutAlign="space-between center">
    <div class="author">
      <span>
        By: Anonymous
      </span>
    </div>
    <div class="date">
      <span>
        30th May 2020
      </span>
    </div>
  </div>

  <mat-card class="content">test</mat-card>

  <div class="share" fxLayout="row" dir="rtl" fxLayoutGap="20px">
    <span class="facebook-icon"></span>
    <span class="twitter-icon"></span>
  </div>

</div>
