@import '~@angular/material/theming';
@include mat-core();
/* For use in src/lib/core/theming/_palette.scss */
$md-custom-color: (
    50 : #e1ecf6,
    100 : #b3d0e9,
    200 : #80b0db,
    300 : #4d90cd,
    400 : #2779c2,
    500 : #0161b7,
    600 : #0159b0,
    700 : #014fa7,
    800 : #01459f,
    900 : #003390,
    A100 : #bcceff,
    A200 : #89a9ff,
    A400 : #5684ff,
    A700 : #3c72ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    )
);

$custom-theme-primary: mat-palette($md-custom-color, 500);
$custom-theme-accent:mat-palette($md-custom-color, A200, A100, A400);
$custom-theme-warn: mat-palette($mat-red);
$custom-theme: mat-light-theme($custom-theme-primary, $custom-theme-accent, $custom-theme-warn);
@include angular-material-theme($custom-theme);
